---
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

const { src, imageSrc, alt, imageAlt } = Astro.props;
const finalSrc = src || imageSrc;
const finalAlt = alt || imageAlt || "Service Image";
---

<div
  class="image-list-component my-8 transition-transform duration-300 hover:scale-[1.02]">
  {
    finalSrc && (
      <OptimizedImage
        src={finalSrc}
        alt={finalAlt}
        width={800}
        height={450}
        class="w-full rounded-2xl object-cover shadow-lg shadow-yellow-400/10"
      />
    )
  }
</div>
